.search-widget {
    padding: 8px;
}

.search-result-widget {
    background: alpha(currentColor, 0.1);
    margin: 8px;
    padding: 8px;
}

.show-details-widget {
    padding: 8px;
}

.show-details-widget frame {
    padding: 8px;
}

.show-details-widget-overview {
    font-size: 18pt;
}

.seasons-widget-sidebar {
    padding: 8px;
}

.seasons-widget-maincontent {
    padding: 8px;
}

.season-widget-expander-header {
    padding: 8px;
}

.season-widget-expander-content {
    padding: 8px;
}

.watched-toggle {
    opacity: 0.3;
}

.watched-toggle:checked {
    opacity: 1.0;
    background: green;
}
